/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --clr-White: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --ff-primary: 'Roboto', sans-serif;
  --formInput: 1.5rem;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.35rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  /* background: var(--lightGrayishCyan1); */
  background: #222;
  color: var(--clr-White);
  line-height: 1.5;
  font-size: 1rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.20rem;
  color: var(--darkGrayishCyan1);
  font-weight: 600;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 20px;
  color: var(--lightGrayishCyan2);
  font-weight: 500;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    margin: 0 auto;
    max-width: 1170px;
  }
}
main {
  min-height: 100vh;
  display: grid;
}
/* =============================================== */
/* GIF Styles */
/* =============================================== */

img{
    display: block;
    width: 100%;
    cursor: pointer;
}

.section-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

#form-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 0 2rem 0;
}

.btn-group{
    display: flex;
    column-gap: 0.5rem;
}

input{
    padding: 1rem;
    border: none;
    border-radius: 7px;
    font-family: var(--ff-primary);
    font-size: 1rem;
}

::placeholder{
    font-family: var(--ff-primary);
    font-weight: bold;
    font-size: 0.875rem;
}

.btn{
    padding: 1rem;
    border: none;
    border-radius: 7px;
    font-family: var(--ff-primary);
    color: var(--clr-White);
    cursor: pointer;
    font-size: 1rem;
    text-transform: capitalize;
    transition: var(--transition);
}

.search-gif{
    background: #333;
}

.remove-gif{
    background-color: orangered;
}

.search-gif:focus{
    background: #111;
}

.remove-gif:focus{
    background: rgb(175, 47, 0);
}

#img-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media screen and (min-width: 800px) {
    #form-group{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #img-container{
        grid-template-columns: 1fr 1fr;
    }
}